.map {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 500ms;
    &.is-hidden {
        opacity: 0;
    }
}

.button {
    position: absolute;
    top: 20px; right: 20px;
}